<img src="https://www3.um.edu.uy/logoum.jpg" width=300>
<h1 align="center">Thesis - Content-based algorithm</h1> 
<h2 align="center">Alejo Paullier</h2>

In [1]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('C:\\Users\\Alejo\\Tesis\\Demo\\ml-100k\\u.data', sep='\t',
                      names=['user', 'item', 'rating', 'timestamp'])

ratings = ratings.drop(['timestamp'],axis=1)

rating = ratings.copy()

ratings.head(5)

   user  item  rating
0   196   242       3
1   186   302       3
2    22   377       1
3   244    51       2
4   166   346       1

# Boolean ratings

In [2]:
boolean = ratings.copy()
boolean['rating'] = boolean['rating'].replace([1,2,3,4,5],1)
boolean

       user  item  rating
0       196   242       1
1       186   302       1
2        22   377       1
3       244    51       1
4       166   346       1
...     ...   ...     ...
99995   880   476       1
99996   716   204       1
99997   276  1090       1
99998    13   225       1
99999    12   203       1

[100000 rows x 3 columns]

# Genres Matrix

In [3]:
m_cols = ['movie id','movie title','release date','video release date','IMDb URL',
          'unknown','Action','Adventure','Animation','Children','Comedy','Crime',
          'Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery',
          'Romance','Sci-Fi','Thriller','War','Western']
movies = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 100k\\u.item', sep='|', names=m_cols,encoding='latin-1')
movies = movies.set_index('movie id')
movies = movies.drop(['video release date'],axis = 1)
genres = movies.drop(['movie title','release date','IMDb URL'],axis = 1)
genres = genres.divide(((((genres.T)**2).sum())**(1/2)),axis=0)
genres

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie id,,,,,,,,,,,,,,,,,,,
1,0.0,0.00000,0.00000,0.57735,0.57735,0.57735,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
2,0.0,0.57735,0.57735,0.00000,0.00000,0.00000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.577350,0.0,0.0
3,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0
4,0.0,0.57735,0.00000,0.00000,0.00000,0.57735,0.00000,0.0,0.577350,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
5,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.57735,0.0,0.577350,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.577350,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1679,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.707107,0.0,0.0
1680,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.707107,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.000000,0.0,0.0
1681,0.0,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1682,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

# Pivot Ratings Matrix

In [126]:
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
OldMin = 1
OldMax = 5
NewMin = -1
NewMax = 1
ratings = (((ratings - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
ratings = ratings.fillna(0)
ratings

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,0.5,0.0,0.0,1.0,0.5,-1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,-0.5,0.0,0.0,0.5,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,1.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Pivot Boolean matrix

In [127]:
boolean = boolean.pivot(index = 'user',columns='item',values ='rating')
boolean = boolean.fillna(0)
boolean

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Profile matrix

In [128]:
np.seterr(divide='ignore', invalid='ignore')
dot = boolean.values.dot(genres.values)
dot = pd.DataFrame(dot)
profile = pd.DataFrame((ratings).values.dot(genres.values), columns=genres.columns, index=(ratings).index)
profile = profile.values/(dot.values)
profile = pd.DataFrame(profile)
profile.columns = genres.columns
profile = profile.fillna(0)
profile

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.5,0.151375,-0.056220,0.214890,-0.440776,0.251726,0.224568,0.9,0.488135,0.267949,1.000000,0.184096,-0.093066,0.372988,0.436785,0.513386,0.325037,0.325218,0.369903
1,0.0,0.351779,0.635165,0.500000,-0.025255,0.404674,0.287429,0.0,0.408702,0.000000,0.732051,0.000000,0.000000,0.226541,0.541952,0.312418,0.257331,0.220790,0.000000
2,0.0,-0.134706,0.258622,0.000000,0.000000,-0.222793,0.006579,1.0,-0.022857,0.000000,-0.232051,-0.276906,-0.500000,0.042122,0.147997,-0.176522,-0.261276,-0.077431,0.000000
3,0.0,0.446445,0.207589,0.000000,0.000000,1.000000,0.862372,1.0,0.757307,0.000000,0.000000,0.500000,1.000000,0.579247,0.697761,0.417775,0.514402,0.736068,0.000000
4,0.5,0.044731,0.097261,0.389194,-0.311429,-0.004148,0.465218,0.0,-0.257980,-0.250000,1.000000,-0.293240,0.156232,-0.023373,-0.424018,0.263360,-0.062291,0.097849,-0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.502586,0.188216,0.500000,0.500000,0.758153,0.689898,0.0,0.775974,0.500000,0.000000,0.000000,0.500000,0.500000,0.912069,0.534204,0.540824,1.000000,0.000000
939,0.0,0.230449,0.004951,0.732051,0.585058,0.241580,0.667354,0.0,0.278466,0.000000,0.500000,0.068671,-0.045483,0.635165,0.267856,0.034790,0.192120,0.137504,0.000000
940,0.0,0.408429,0.443690,0.860413,0.781754,0.515161,0.000000,0.0,0.585786,0.000000,0.000000,0.000000,0.500000,1.000000,1.000000,0.455218,0.518314,1.000000,0.000000
941,0.0,0.554698,0.852538,0.850304,0.638299,0.513588,0.000000,0.0,0.720015,0.464102,1.000000,0.386730,0.683275,0.507053,0.701365,0.558033,0.494720,0.842645,0.767949
942,0.0,0.282331,0.124587,0.183013,-0.138128,-0.051784,0.590679,0.0,0.417117,-0.267949,0.000000,0.312583,0.421619,0.310102,0.075032,-0.032348,0.417072,0.280286,-0.216072

# Compute Predictions

In [129]:
count = genres.sum(axis=1)
count = (pd.DataFrame(count))
prediction = pd.DataFrame((genres.values.dot((profile.T).values))/count.values, columns=(profile.T).columns, index=genres.index)
prediction = prediction.T
prediction.columns = ratings.columns
prediction.index = ratings.index
prediction

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,0.008613,0.140064,0.325037,0.297079,0.345913,0.488135,0.500761,0.099695,0.488135,0.406677,...,0.238206,0.488135,0.488135,0.488135,0.488135,0.488135,0.380911,0.462460,0.251726,0.488135
2,0.293140,0.414758,0.257331,0.388385,0.317821,0.408702,0.360560,0.262707,0.408702,0.314746,...,0.304555,0.408702,0.408702,0.408702,0.408702,0.408702,0.399642,0.475327,0.404674,0.408702
3,-0.074264,-0.045787,-0.261276,-0.126785,-0.092518,-0.022857,-0.099689,-0.081883,-0.022857,-0.050144,...,-0.197991,-0.022857,-0.022857,-0.022857,-0.022857,-0.022857,-0.056639,0.062570,-0.222793,-0.022857
4,0.333333,0.389479,0.514402,0.734584,0.711361,0.757307,0.587541,0.585769,0.757307,0.746688,...,0.480424,0.757307,0.757307,0.757307,0.757307,0.757307,0.606082,0.727534,1.000000,0.757307
5,0.024539,0.026567,-0.062291,-0.072466,0.048316,-0.257980,0.002690,-0.191186,-0.257980,-0.080065,...,-0.008780,-0.257980,-0.257980,-0.257980,-0.257980,-0.257980,-0.243154,-0.340999,-0.004148,-0.257980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.586051,0.410542,0.540824,0.678904,0.668899,0.775974,0.655089,0.678042,0.775974,0.887987,...,0.521705,0.775974,0.775974,0.775974,0.775974,0.775974,0.726446,0.844022,0.758153,0.775974
940,0.519563,0.142506,0.192120,0.250165,0.379313,0.278466,0.156628,0.368368,0.278466,0.207985,...,0.211284,0.278466,0.278466,0.278466,0.278466,0.278466,0.229988,0.273161,0.241580,0.278466
941,0.719109,0.456811,0.518314,0.503126,0.368033,0.585786,0.520502,0.627567,0.585786,0.792893,...,0.463371,0.585786,0.585786,0.585786,0.585786,0.585786,0.759157,0.792893,0.515161,0.585786
942,0.667397,0.633986,0.494720,0.596100,0.404912,0.720015,0.639024,0.623967,0.720015,0.781330,...,0.524709,0.720015,0.720015,0.720015,0.720015,0.720015,0.598043,0.710690,0.513588,0.720015
943,-0.002300,0.274663,0.417072,0.215888,0.474956,0.417117,0.192384,0.075735,0.417117,0.348701,...,0.349701,0.417117,0.417117,0.417117,0.417117,0.417117,0.246052,0.246075,-0.051784,0.417117

# Reset to 1-5 star scale

In [130]:
OldMin = -1
OldMax = 1
NewMin = 1
NewMax = 5
prediction = (((prediction - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
prediction

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,3.017226,3.280129,3.650074,3.594158,3.691827,3.976270,4.001521,3.199390,3.976270,3.813353,...,3.476412,3.976270,3.976270,3.976270,3.976270,3.976270,3.761822,3.924920,3.503453,3.976270
2,3.586279,3.829517,3.514662,3.776770,3.635642,3.817405,3.721120,3.525414,3.817405,3.629492,...,3.609110,3.817405,3.817405,3.817405,3.817405,3.817405,3.799284,3.950655,3.809348,3.817405
3,2.851471,2.908427,2.477448,2.746429,2.814964,2.954286,2.800621,2.836233,2.954286,2.899712,...,2.604018,2.954286,2.954286,2.954286,2.954286,2.954286,2.886721,3.125141,2.554414,2.954286
4,3.666667,3.778958,4.028804,4.469168,4.422721,4.514615,4.175083,4.171538,4.514615,4.493375,...,3.960847,4.514615,4.514615,4.514615,4.514615,4.514615,4.212163,4.455069,5.000000,4.514615
5,3.049078,3.053133,2.875418,2.855069,3.096631,2.484041,3.005380,2.617629,2.484041,2.839869,...,2.982439,2.484041,2.484041,2.484041,2.484041,2.484041,2.513691,2.318003,2.991704,2.484041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,4.172102,3.821084,4.081647,4.357809,4.337797,4.551949,4.310178,4.356085,4.551949,4.775974,...,4.043410,4.551949,4.551949,4.551949,4.551949,4.551949,4.452893,4.688044,4.516305,4.551949
940,4.039126,3.285013,3.384240,3.500330,3.758627,3.556932,3.313256,3.736736,3.556932,3.415970,...,3.422568,3.556932,3.556932,3.556932,3.556932,3.556932,3.459976,3.546322,3.483160,3.556932
941,4.438219,3.913622,4.036628,4.006251,3.736067,4.171573,4.041005,4.255134,4.171573,4.585786,...,3.926743,4.171573,4.171573,4.171573,4.171573,4.171573,4.518314,4.585786,4.030322,4.171573
942,4.334793,4.267971,3.989441,4.192201,3.809824,4.440030,4.278048,4.247934,4.440030,4.562660,...,4.049419,4.440030,4.440030,4.440030,4.440030,4.440030,4.196086,4.421380,4.027175,4.440030
943,2.995400,3.549326,3.834143,3.431776,3.949912,3.834234,3.384769,3.151470,3.834234,3.697403,...,3.699403,3.834234,3.834234,3.834234,3.834234,3.834234,3.492104,3.492149,2.896432,3.834234

In [131]:
ratings = pd.read_csv('C:\\Users\\Alejo\\Tesis\\Demo\\ml-100k\\u.data', sep='\t',
                      names=['user', 'item', 'rating', 'timestamp'])
ratings = ratings.drop(['timestamp'],axis=1)
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
ratings

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# MAE

In [133]:
%%time
MAE = abs(ratings-prediction)
MAE.mean(axis=1).mean()

Wall time: 32.9 ms

0.7274366675243344

# RMSE

In [134]:
%%time
RMSE = ((((MAE**2).mean(axis=1)))**(1/2)).mean()
RMSE

Wall time: 995 ms

0.9022961851507607

In [98]:
predicted = []
users = []
for i in range(0,prediction.shape[0]):
    predicted.append(prediction.iloc[i,:].nlargest(100))
    users.append([i+1]*100)
predicted = pd.concat(predicted, ignore_index=False)
predicted = pd.DataFrame(predicted)
predicted.columns = ['score']
user = pd.DataFrame(users)
user = pd.DataFrame(user.values.flatten())
user.index = predicted.index
predicted['user'] = user
predicted.reset_index(level=0, inplace=True)
predicted

       item     score  user
0       488  5.000000     1
1      1476  5.000000     1
2      1582  5.000000     1
3        32  4.800000     1
4        48  4.800000     1
...     ...       ...   ...
94295    86  3.834234   943
94296    87  3.834234   943
94297   107  3.834234   943
94298   113  3.834234   943
94299   126  3.834234   943

[94300 rows x 3 columns]

In [94]:
from lenskit import batch, topn, util
from lenskit import crossfold as xf
from lenskit import topn

# nDCG

In [105]:
def model_ndcg():
    test_data = []
    for train, test in xf.partition_users(rating[['user', 'item', 'rating']], 5, xf.SampleFrac(0.2)):
        test_data.append(test)
    test_data = pd.concat(test_data, ignore_index=True)

    rla = topn.RecListAnalysis()
    rla.add_metric(topn.ndcg)
    results = rla.compute(predicted, test_data)

    return results.ndcg.mean()

In [106]:
%%time
array = []
for i in range(1,100,1):
    array.append(model_ndcg())

Wall time: 6min 26s

In [107]:
metric = pd.DataFrame(array)
metric.columns = ['nDCG']
print(metric.mean())
metric.sort_values(by=['nDCG'],ascending=False).head(5)

       nDCG
0  0.041360
1  0.039124
2  0.038112
3  0.040717
4  0.039568

In [110]:
metric.to_csv('metric_nDCG.csv', index=False)

# MRR

In [114]:
def model_mrr():
    test_data = []
    for train, test in xf.partition_users(rating[['user', 'item', 'rating']], 5, xf.SampleFrac(0.2)):
        test_data.append(test)
    test_data = pd.concat(test_data, ignore_index=True)
    rla = topn.RecListAnalysis()
    rla.add_metric(topn.recip_rank)
    mrr = rla.compute(predicted, test_data)
    return mrr['recip_rank'].mean()

In [115]:
%%time
array = []
for i in range(1,100,1):
    array.append(model_mrr())

Wall time: 2min 34s

In [116]:
metric = pd.DataFrame(array)
metric.columns = ['MRR']
print(metric.mean())
metric.sort_values(by=['MRR'],ascending=False).head(5)

MRR    0.056931
dtype: float64

         MRR
26  0.070228
18  0.069255
66  0.067734
58  0.066093
94  0.064398

In [117]:
metric.to_csv('metric_MRR.csv', index=False)

# F1, Precision, Recall

In [118]:
def model_f1():
    test_data = []
    for train, test in xf.partition_users(rating[['user', 'item', 'rating']], 5, xf.SampleFrac(0.2)):
        test_data.append(test)
    test_data = pd.concat(test_data, ignore_index=True)
    rla1 = topn.RecListAnalysis()
    rla2 = topn.RecListAnalysis()
    rla1.add_metric(topn.precision)
    rla2.add_metric(topn.recall)
    prec = rla1.compute(predicted, test_data)
    rec = rla2.compute(predicted, test_data)
    F1 = ((prec['precision'].values*rec['recall'].values*2)/(prec['precision'].values+rec['recall'].values))
    F1 = np.nan_to_num(F1)
    return [F1.mean(),prec['precision'].mean(),rec['recall'].mean()]

In [119]:
%%time
array = []
for i in range(1,100,1):
    array.append(model_f1())

Wall time: 4min 40s

In [120]:
metric = pd.DataFrame(array)
metric.columns = ['F1','Precision','Recall']
print(metric.mean())
metric.sort_values(by=['F1'],ascending=False).head(5)

F1           0.021765
Precision    0.014531
Recall       0.075628
dtype: float64

          F1  Precision    Recall
52  0.023274   0.015620  0.078929
85  0.022997   0.015451  0.077006
24  0.022843   0.015313  0.076287
62  0.022801   0.015207  0.080192
11  0.022669   0.015005  0.080527

In [121]:
metric.to_csv('metric_F1.csv', index=False)