<img src="https://www3.um.edu.uy/logoum.jpg" width=300>
<h1 align="center">Thesis - Content Based</h1> 
<h2 align="center">Alejo Paullier</h2>

https://lkpy.lenskit.org/en/stable/knn.html

In [1]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('C:\\Users\\Alejo\\Tesis\\Demo\\ml-100k\\u.data', sep='\t',
                      names=['user', 'item', 'rating', 'timestamp'])
ratings = ratings.drop(['timestamp'],axis=1)
ratings.head(5)

   user  item  rating
0   196   242       3
1   186   302       3
2    22   377       1
3   244    51       2
4   166   346       1

# Boolean ratings

In [2]:
boolean = ratings.copy()
boolean['rating'] = boolean['rating'].replace([1,2,3,4,5],1)
boolean

       user  item  rating
0       196   242       1
1       186   302       1
2        22   377       1
3       244    51       1
4       166   346       1
...     ...   ...     ...
99995   880   476       1
99996   716   204       1
99997   276  1090       1
99998    13   225       1
99999    12   203       1

[100000 rows x 3 columns]

# Genres Matrix

In [3]:
m_cols = ['movie id','movie title','release date','video release date','IMDb URL',
          'unknown','Action','Adventure','Animation','Children','Comedy','Crime',
          'Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery',
          'Romance','Sci-Fi','Thriller','War','Western']
movies = pd.read_csv('D:\\Escritorio\\UM\\Tesis\\ML 100k\\u.item', sep='|', names=m_cols,encoding='latin-1')
movies = movies.set_index('movie id')
movies = movies.drop(['video release date'],axis = 1)
genres = movies.drop(['movie title','release date','IMDb URL'],axis = 1)
genres

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie id,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1679,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1680,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1681,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1682,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

# Unpivot Ratings Matrix

In [4]:
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
OldMin = 1
OldMax = 5
NewMin = -1
NewMax = 1
ratings = (((ratings - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
ratings = ratings.fillna(0)
ratings

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,0.5,0.0,0.0,1.0,0.5,-1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,-0.5,0.0,0.0,0.5,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,1.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Unpivot Boolean matrix

In [5]:
boolean = boolean.pivot(index = 'user',columns='item',values ='rating')
boolean = boolean.fillna(0)
boolean

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Profile matrix

In [6]:
np.seterr(divide='ignore', invalid='ignore')
dot = boolean.values.dot(genres.values)
dot = pd.DataFrame(dot)
profile = pd.DataFrame((ratings).values.dot(genres.values), columns=genres.columns, index=(ratings).index)
profile = profile.values/(dot.values)
profile = pd.DataFrame(profile)
profile.columns = genres.columns
profile = profile.fillna(0)
profile

,unknown,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.5,0.166667,-0.035714,0.166667,-0.400000,0.236264,0.220000,0.9,0.462617,0.25,1.00,0.230769,-0.038462,0.300000,0.465909,0.500000,0.307692,0.340000,0.333333
1,0.0,0.400000,0.666667,0.500000,0.000000,0.406250,0.388889,0.0,0.414286,0.00,0.75,0.000000,0.000000,0.250000,0.562500,0.375000,0.291667,0.333333,0.000000
2,0.0,-0.107143,0.250000,0.000000,0.000000,-0.208333,0.000000,1.0,-0.045455,0.00,-0.25,-0.300000,-0.500000,0.090909,0.200000,-0.125000,-0.238095,-0.100000,0.000000
3,0.0,0.437500,0.250000,0.000000,0.000000,1.000000,0.875000,1.0,0.750000,0.00,0.00,0.500000,1.000000,0.500000,0.666667,0.416667,0.454545,0.750000,0.000000
4,0.5,0.071429,0.121212,0.392857,-0.275862,0.000000,0.444444,0.0,-0.166667,-0.25,1.00,-0.232143,0.166667,0.000000,-0.342105,0.257576,-0.026316,0.107143,-0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.527778,0.250000,0.500000,0.500000,0.766667,0.666667,0.0,0.777778,0.50,0.00,0.000000,0.500000,0.500000,0.900000,0.562500,0.541667,1.000000,0.000000
939,0.0,0.217391,0.000000,0.750000,0.600000,0.261905,0.642857,0.0,0.302083,0.00,0.50,0.000000,0.071429,0.666667,0.270833,0.026316,0.175000,0.133333,0.000000
940,0.0,0.400000,0.428571,0.833333,0.750000,0.571429,0.000000,0.0,0.600000,0.00,0.00,0.000000,0.500000,1.000000,1.000000,0.437500,0.500000,1.000000,0.000000
941,0.0,0.555556,0.863636,0.875000,0.653846,0.545455,0.000000,0.0,0.709677,0.50,1.00,0.333333,0.700000,0.500000,0.705882,0.583333,0.500000,0.850000,0.833333
942,0.0,0.273438,0.128571,0.250000,-0.111111,-0.017857,0.611111,0.0,0.385965,-0.25,0.00,0.321429,0.375000,0.333333,0.090909,0.000000,0.414286,0.266667,-0.222222

In [7]:
print(profile.max().max())
print(profile.min().min())

1.0
-1.0

# Compute Predictions (Genres . Profile^T)

In [8]:
count = genres.sum(axis=1)
count = (pd.DataFrame(count))
prediction = pd.DataFrame((genres.values.dot((profile.T).values))/count.values, columns=(profile.T).columns, index=genres.index)
prediction = prediction.T
prediction.columns = ratings.columns
prediction.index = ratings.index
prediction

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,0.000977,0.146215,0.307692,0.288516,0.330103,0.462617,0.481308,0.099627,0.462617,0.401308,...,0.237179,0.462617,0.462617,0.462617,0.462617,0.462617,0.386801,0.464263,0.236264,0.462617
2,0.302083,0.452778,0.291667,0.406845,0.364947,0.414286,0.394643,0.273512,0.414286,0.373810,...,0.345833,0.414286,0.414286,0.414286,0.414286,0.414286,0.427083,0.488393,0.406250,0.414286
3,-0.069444,-0.031746,-0.238095,-0.120310,-0.094517,-0.045455,-0.085227,-0.084596,-0.045455,-0.072727,...,-0.172619,-0.045455,-0.045455,-0.045455,-0.045455,-0.045455,-0.019048,0.077273,-0.208333,-0.045455
4,0.333333,0.380682,0.454545,0.729167,0.693182,0.750000,0.583333,0.583333,0.750000,0.750000,...,0.446023,0.750000,0.750000,0.750000,0.750000,0.750000,0.560606,0.708333,1.000000,0.750000
5,0.038998,0.055442,-0.026316,-0.031746,0.083821,-0.166667,0.045455,-0.147510,-0.166667,-0.029762,...,0.022556,-0.166667,-0.166667,-0.166667,-0.166667,-0.166667,-0.184211,-0.254386,0.000000,-0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.588889,0.439815,0.541667,0.690741,0.662037,0.777778,0.670139,0.681481,0.777778,0.888889,...,0.534722,0.777778,0.777778,0.777778,0.777778,0.777778,0.720833,0.838889,0.766667,0.777778
940,0.537302,0.130797,0.175000,0.260460,0.373313,0.302083,0.164200,0.387996,0.302083,0.217708,...,0.196196,0.302083,0.302083,0.302083,0.302083,0.302083,0.222917,0.286458,0.261905,0.302083
941,0.718254,0.442857,0.500000,0.523810,0.366667,0.600000,0.518750,0.640476,0.600000,0.800000,...,0.450000,0.600000,0.600000,0.600000,0.600000,0.600000,0.750000,0.800000,0.571429,0.600000
942,0.691434,0.639731,0.500000,0.603563,0.403226,0.709677,0.646505,0.636326,0.709677,0.779839,...,0.527778,0.709677,0.709677,0.709677,0.709677,0.709677,0.602941,0.707780,0.545455,0.709677
943,0.040344,0.272098,0.414286,0.213848,0.470454,0.385965,0.192982,0.085666,0.385965,0.326316,...,0.343862,0.385965,0.385965,0.385965,0.385965,0.385965,0.252597,0.238437,-0.017857,0.385965

In [9]:
print(prediction.max().max())
print(prediction.min().min())

1.0
-1.0

# Reset to 1-5 star scale

In [10]:
OldMin = -1
OldMax = 1
NewMin = 1
NewMax = 5
prediction = (((prediction - OldMin) * (NewMax - NewMin)) / (OldMax - OldMin)) + NewMin
prediction

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,3.001954,3.292430,3.615385,3.577031,3.660206,3.925234,3.962617,3.199254,3.925234,3.802617,...,3.474359,3.925234,3.925234,3.925234,3.925234,3.925234,3.773601,3.928526,3.472527,3.925234
2,3.604167,3.905556,3.583333,3.813690,3.729894,3.828571,3.789286,3.547024,3.828571,3.747619,...,3.691667,3.828571,3.828571,3.828571,3.828571,3.828571,3.854167,3.976786,3.812500,3.828571
3,2.861111,2.936508,2.523810,2.759380,2.810967,2.909091,2.829545,2.830808,2.909091,2.854545,...,2.654762,2.909091,2.909091,2.909091,2.909091,2.909091,2.961905,3.154545,2.583333,2.909091
4,3.666667,3.761364,3.909091,4.458333,4.386364,4.500000,4.166667,4.166667,4.500000,4.500000,...,3.892045,4.500000,4.500000,4.500000,4.500000,4.500000,4.121212,4.416667,5.000000,4.500000
5,3.077997,3.110883,2.947368,2.936508,3.167641,2.666667,3.090909,2.704981,2.666667,2.940476,...,3.045113,2.666667,2.666667,2.666667,2.666667,2.666667,2.631579,2.491228,3.000000,2.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,4.177778,3.879630,4.083333,4.381481,4.324074,4.555556,4.340278,4.362963,4.555556,4.777778,...,4.069444,4.555556,4.555556,4.555556,4.555556,4.555556,4.441667,4.677778,4.533333,4.555556
940,4.074603,3.261594,3.350000,3.520920,3.746627,3.604167,3.328399,3.775992,3.604167,3.435417,...,3.392391,3.604167,3.604167,3.604167,3.604167,3.604167,3.445833,3.572917,3.523810,3.604167
941,4.436508,3.885714,4.000000,4.047619,3.733333,4.200000,4.037500,4.280952,4.200000,4.600000,...,3.900000,4.200000,4.200000,4.200000,4.200000,4.200000,4.500000,4.600000,4.142857,4.200000
942,4.382867,4.279461,4.000000,4.207125,3.806452,4.419355,4.293011,4.272652,4.419355,4.559677,...,4.055556,4.419355,4.419355,4.419355,4.419355,4.419355,4.205882,4.415560,4.090909,4.419355
943,3.080688,3.544196,3.828571,3.427697,3.940908,3.771930,3.385965,3.171331,3.771930,3.652632,...,3.687723,3.771930,3.771930,3.771930,3.771930,3.771930,3.505195,3.476874,2.964286,3.771930

In [11]:
print(prediction.min().min())
print(prediction.max().max())

1.0
5.0

In [12]:
ratings = pd.read_csv('C:\\Users\\Alejo\\Tesis\\Demo\\ml-100k\\u.data', sep='\t',
                      names=['user', 'item', 'rating', 'timestamp'])
ratings = ratings.drop(['timestamp'],axis=1)
ratings = ratings.pivot(index = 'user',columns='item',values ='rating')
ratings

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
MAE = abs(ratings-prediction)
MAE

item,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user,,,,,,,,,,,,,,,,,,,,,
1,1.998046,0.292430,0.384615,0.577031,0.660206,1.074766,0.037383,2.199254,1.074766,0.802617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.395833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.747619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.922003,0.110883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.444444,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,1.520920,NaN,NaN,0.671601,1.224008,0.604167,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,0.563492,NaN,NaN,NaN,NaN,NaN,0.037500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,1.455804,NaN,NaN,NaN,NaN,NaN,NaN,0.771930,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
MAE.mean(axis=1).mean()

0.7329050136116881

In [15]:
RMSE = ((((MAE**2).mean(axis=1)))**(1/2)).mean()
RMSE

0.9098959743160311